<div class="form-group">
    <label class="sr-only" for="filterSlips">Filter Slips</label>
    <div class="input-group">
        <input type="text" id="filterSlips" class="form-control" placeholder="Filter the list...">
        <span class="input-group-addon"><span class="fa fa-search"></span></span>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Absence Request Id</th>
                <th>Govt MP</th>
                <th>Start Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ar of absenceRequestsList$ | async">
                <td><a [routerLink]="['/absence-requests', ar.ID]">{{ar.ID}}</a></td>
                <td>{{ar.Member_of_Parliament.Full_Name}}</td>
                <td>{{ar.From_Date | date}}</td>
            </tr>
        </tbody>
    </table>
</div>
