@model Triad.CabinetOffice.Slipping.Data.Models.OppositionMP
<div class="grid-row">
    <div class="form-group-compound list-item-wrapper">
        <h2 class="heading-medium">MP </h2>
        <fieldset>
            <div class="column-one-third no-padding">
                <div class="form-group list-item">
                    @Html.LabelFor(m=>m.FullName, "Full name", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                    @Html.HiddenFor(m => m.ID)
                    @Html.HiddenFor(m => m.MPID)
                </div>
            </div>
            <div class="column-one-third no-padding">
                <div class="list-item">
                    <a class="remove-list-item" id="remove-item-1" href="#">Remove this</a>
                </div>
            </div>
        </fieldset>
        <hr />
    </div>
</div>
