<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://slipping-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>slipping-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>slipping-dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$slipping-dev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SlippingEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Triad.CabinetOffice.Slipping.Data.EntityFramework.Slipping.SlippingEntities, Triad.CabinetOffice.Slipping.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PAWSEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=efjfsbpzvk.database.windows.net;Initial Catalog=db_eeef157d_ad45_41d5_9fb4_5d1859412340;User ID=db_eeef157d_ad45_41d5_9fb4_5d1859412340_ExternalWriter;Password=uaQN6ws93i3^mTH;Application Name=Slipping" Name="Data Source=efjfsbpzvk.database.windows.net;Initial Catalog=db_eeef157d_ad45_41d5_9fb4_5d1859412340;User ID=db_eeef157d_ad45_41d5_9fb4_5d1859412340_ExternalWriter;Password=uaQN6ws93i3^mTH;MultipleActiveResultSets=True;Application Name=Slipping" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Triad.CabinetOffice.Slipping.Data.EntityFramework.PAWS.PAWSEntities, Triad.CabinetOffice.Slipping.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="PAWSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/EntityFramework.PAWS.PAWS.csdl|res://*/EntityFramework.PAWS.PAWS.ssdl|res://*/EntityFramework.PAWS.PAWS.msl;provider=System.Data.SqlClient;provider connection string="Data Source=efjfsbpzvk.database.windows.net;Initial Catalog=db_eeef157d_ad45_41d5_9fb4_5d1859412340;User ID=db_eeef157d_ad45_41d5_9fb4_5d1859412340_ExternalWriter;Password=uaQN6ws93i3^mTH;MultipleActiveResultSets=True;Application Name=Slipping"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SlippingEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>