@{
    ViewBag.Title = "Request absence from Parliament";
}

<div class="grid-row">
    <div class="column-two-thirds column-minimum">
        <h1 class="heading-xlarge">
            Request absence from Parliament
        </h1>
        <p>Before you start, you will need:</p>
        <ul class="list list-bullet">
            <li>The dates and times of your absence</li>
            <li>Reason for your absence and where you will be</li>
        </ul>
        <p>This will take less than 2 minutes to complete</p>
        <p>
            @Html.ActionLink("Start", "Index", "Slipping", null, new { @class = "button button-start", @role = "button" })
        </p>
    </div>
</div>
 