@{
    ViewBag.Title = "Create or view your slips";
}

<div class="grid-row">
    <div class="column-two-thirds column-minimum">
        <h1 class="heading-xlarge">Create or view your slips</h1>
        <p>This service allows MPs to submit slip requests, view the status of their previous slip requests and manage slip requests.</p>
        <p></p>
        <h2 class="heading-medium">Before you start, you will need:</h2>
        <ul class="list list-bullet">
            <li>Date and time of your slip request</li>
            <li>Location</li>
            <li>Reason for your slip request</li>
            <li>List of any opposition MPs also attending</li>
        </ul>
        <p>This service takes less than 2 minutes to complete</p>
        <p>
            @Html.ActionLink("Log in", "Index", "Slips", null, new { @class = "button", @role = "button" })
        </p>
        <h2 class="heading-medium">Get in touch with us</h2>
        <p>If you have any queries or concerns, please get in touch with the Government Whips Admin Unit via email or telephone.</p>
        <p>Want to nominate a user to fill in your slip requests? We need their name and email address. You can send us these details by email or by telephone.</p>
        <p><strong class="bold-small">Email:</strong> GWAU@parliament.uk</p>
        <p><strong class="bold-small">Telephone:</strong> 0208 123 4567</p>
    </div>
</div>
 