@{
    ViewBag.Title = "Request absence from Parliament";
}

<div class="grid-row">
    <div class="column-two-thirds column-minimum">
        <h1 class="heading-xlarge">
            Request absence from Parliament
        </h1>
        <p>Before you start, you will need:</p>
        <ul class="list list-bullet">
            <li>Location of your slipping request</li>
            <li>Reason for your slipping request</li>
            <li>List of MPs you are going with</li>
            
        </ul>
        <p>This service takes less than 5 minutes to complete</p>
        <p>
            @Html.ActionLink("Log in", "Index", "Slipping", null, new { @class = "button", @role = "button" })
        </p>
    </div>
</div>
 