<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">Pairing and Whipping</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/divisions']">Divisions</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/absence-requests']">Absence Requests <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/committees']">Committees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/members-of-parliament']">Members of Parliament</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/parties']">Parties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/whips-flocks']">Whips Flocks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sessions']">Sessions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users']">Users</a>
      </li>
    </ul>
    <span class="top-nav-username">{{username}}</span>
    <a [routerLink]="['/logout']">Logout</a>
  </div>
</nav>

<router-outlet></router-outlet>
