<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">List <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Datasheet</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Summary</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Filter List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Slip Report</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Pairing Report</a>
  </li>
</ul>