@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="grid-row">
    <div class="column-two-thirds column-minimum">
        <h1 class="heading-xlarge">
            Error
        </h1>
        <p>An error occurred while processing your request.</p>
        <p>@Model.Exception.Message</p>
    </div>
</div>

