{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">
    <div class="column-two-thirds column-minimum">
      <a class="link-back" href="page-location-travel-time">Back</a>

      <h1 class="heading-large">
        What is the reason for your slip?
      </h1>

      <form class="form" action="page-opposition-mps">
        <div class="form-group">
<fieldset>
   
      <div class="multiple-choice" data-target="government-work-reason">
        <input id="government-work" type="radio" name="radio-group" value="Government Work">
        <label for="government-work">Government Work</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="government-work-reason">
        <label class="form-label" for="government-work-reason">Please provide details</label>
        <span class="form-hint">
   What type of government work is it? Who are you going with? etc
  </span>
         <textarea class="form-control form-control-3-4" name="government-work-reason" id="government-work-reason" rows="5"></textarea>
      </div>


      <div class="multiple-choice" data-target="constituency-engagement-reason">
        <input id="constituency-engagement" type="radio" name="radio-group" value="Constituency Engagement">
        <label for="constituency-engagement">Constituency Engagement</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="constituency-engagement-reason">
        <label class="form-label" for="constituency-engagement-reason">Please provide details</label>
        <span class="form-hint">
   What type of constituency engagement is it? Who are you visiting? etc
  </span>
         <textarea class="form-control form-control-3-4" name="constituency-engagement-reason" id="constituency-engagement-reason" rows="5"></textarea>
      </div>

         <div class="multiple-choice" data-target="parliamentary-campaigning-activity-reason">
        <input id="parliamentary-campaigning-activity" type="radio" name="radio-group" value="Parliamentary Campaigning Activity">
        <label for="parliamentary-campaigning-activity">Parliamentary Campaigning Activity</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="parliamentary-campaigning-activity-reason">
        <label class="form-label" for="parliamentary-campaigning-activity-reason">Please provide details</label>
        <span class="form-hint">
   What type of campaigning acitvity is it? Who are you visiting? etc
  </span>
         <textarea class="form-control form-control-3-4" name="parliamentary-campaigning-activity-reason" id="parliamentary-campaigning-activity-reason" rows="5"></textarea>
      </div>

       <div class="multiple-choice" data-target="personal-other-reason">
        <input id="personal-other" type="radio" name="radio-group" value="Personal/Other">
        <label for="personal-other">Personal/Other</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="personal-other-reason">
        <label class="form-label" for="personal-other-reason">Please provide details</label>
        <span class="form-hint">
   Dentist? Funeral? etc
  </span>
         <textarea class="form-control form-control-3-4" name="personal-other-reason" id="personal-other-reason" rows="5"></textarea>
      </div>



<p class="form-block"></p>
<p class="form-block"></p>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

        </fieldset>

      </form>

    </div>
  </div>
</main>

{% endblock %}
