{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">
    <div class="column-two-thirds column-minimum">

    <a class="link-back" href="page-opposition-mps">Back</a>

      <h1 class="heading-large">
       Check your answers before submitting your slipping request
      </h1>
      <!-- only add a heading for a list if there is more than one list -->
      <br>
      </br>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `cya-questions-short` for short questions -->
      <!--   * `cya-questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            From
          </dt>
          <dd class="cya-answer">
             {{ data['date-from'] }} <br>{{ data['time-from'] }}</br>
          </dd>
          <dd class="cya-change">
          <a href="page-date-time-1">
              Change<span class="visually-hidden">name</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
           To
          </dt>
          <dd class="cya-answer">
           {{ data['date-to'] }} <br>{{ data['time-to'] }}</br>
          </dd>
          <dd class="cya-change">
          <a href="page-date-time-2">
              Change<span class="visually-hidden">name</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Location
          </dt>
          <dd class="cya-answer">
            {{ data['location'] }}
          </dd>
          <dd class="cya-change">
          <a href="page-location-travel-time">
              Change<span class="visually-hidden">name</span>
            </a>
          </dd>
        </div>

         <div>
          <dt class="cya-question">
            Travel time to Westminster
          </dt>
          <dd class="cya-answer">
            {{ data['travel-time'] }} hours
          </dd>
          <dd class="cya-change">
          <a href="page-location-travel-time">
              Change<span class="visually-hidden">name</span>
            </a>
          </dd>
        </div>

      <div>
          <dt class="cya-question">
            Reason
          </dt>
          <dd class="cya-answer">
            {{ data['radio-group'] }}
          </dd>
          <dd class="cya-change">
          <a href="page-reason">
              Change<span class="visually-hidden">name</span>
            </a>
          </dd>
        </div>

          <div>
          <dt class="cya-question">
            Details
          </dt>
          <dd class="cya-answer">
           {{ data['reason-details'] }}
          </dd>
          <dd class="cya-change">
          <a href="page-reason">
              Change<span class="visually-hidden">name</span>
            </a>
          </dd>
          </div>

          <div>
          <dt class="cya-question">
            Any opposition MPs in attendance?
          </dt>
          <dd class="cya-answer">
            {{ data['radio-group-add-mps'] }} <br>{{ data['field'] }}</br>
          </dd>
          <dd class="cya-change">
          <a href="page-opposition-mps">
              Change<span class="visually-hidden">name</span>
            </a>
          </dd>
          </div>

      </dl>

      <br>
      </br>

      <div class="form-group">
        <a href="page-confirmation" class="button">Submit slipping request</a>
      </div>

    </div>
  </div>
</main>

{% endblock %}
