<div class="card" *ngIf="absenceRequest">
  <h3 class="card-header">Absence Request - {{(absenceRequest.ID) ? absenceRequest.ID : 'New'}}</h3>
  <div class="card-body">
    <form class="panel" (ngSubmit)="onSubmit()" #absenceRequestForm="ngForm">
      <div class="form-group">
        <button class="btn btn-primary" type="button" (click)="newAbsenceRequest(); absenceRequestForm.reset();"><span class="fa fa-plus"></span></button>
        <button class="btn btn-primary"><span class="fa fa-pencil"></span></button>
        <button class="btn btn-primary" type="submit" [disabled]="!absenceRequestForm.form.valid"><span class="fa fa-save"></span></button>
        <button class="btn btn-primary"><span class="fa fa-trash"></span></button>
        <button class="btn btn-primary" type="button" (click)="gotoAbsenceRequests(absenceRequest)"><span class="fa fa-times"></span></button>
      </div>
      <fieldset>
        <div class="form-group row">
          <label for="Status" class="col-3 col-form-label">Status</label>
          <div class="col-9">
            <input id="Status" class="form-control" type="text" required [(ngModel)]="absenceRequest.Status" name="Status">
          </div>
        </div>
        <div class="form-group row">
          <label for="DateCreated" class="col-3 col-form-label">Date Created</label>
          <div class="col-9"><input id="DateCreated" class="form-control" type="text" required [(ngModel)]="absenceRequest.Date_Created" name="DateCreated"></div>
        </div>
        <div class="form-group row">
          <label for="GovtMP" class="col-3 col-form-label">Govt MP</label>
          <div class="col-9"><input id="GovtMP" class="form-control" type="text" required [(ngModel)]="absenceRequest.Govt_MP" name="GovtMP"></div>
        </div>
        <div class="form-group row">
          <label for="FromDate" class="col-3 col-form-label">From Date and Time</label>
          <div class="col-9">
            <div class="input-group">
              <input id="FromDate" type="date" class="form-control" [(ngModel)]="absenceRequest.From_Date" name="FromDate" required>
              <input id="FromTime" type="time" class="form-control" [(ngModel)]="absenceRequest.From_Time" name="FromTime" required>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="ToDate" class="col-3 col-form-label">To Date and Time</label>
          <div class="col-9">
            <div class="input-group">
              <input id="ToDate" type="date" class="form-control" [(ngModel)]="absenceRequest.To_Date" name="ToDate" required>
              <input id="ToTime" type="time" class="form-control" [(ngModel)]="absenceRequest.To_Time" name="ToTime" required>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="Reason" class="col-3 col-form-label">Reason</label>
          <div class="col-9">
            <select id="Reason" class="form-control" [(ngModel)]="absenceRequest.Reason" name="Reason" required>
              <option *ngFor="let reason of reasons" [value]="reason.ID">{{reason.Name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="Details" class="col-3 col-form-label">Details</label>
          <div class="col-9">
            <textarea id="Details" rows="5" class="form-control" [(ngModel)]="absenceRequest.Details" name="Details"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label for="DecisionNotes" class="col-3 col-form-label">Decision Notes</label>
          <div class="col-9">
            <textarea id="DecisionNotes" rows="5" class="form-control" [(ngModel)]="absenceRequest.Decision_Notes" name="DecisionNotes"></textarea>
          </div>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-secondary">Approve</button> 
          <button type="button" class="btn btn-secondary">Refuse</button> 
          <button type="button" class="btn btn-secondary">Further Info. Req.</button> 
          <button type="button" class="btn btn-secondary">Revoke</button> 
          <button type="button" class="btn btn-secondary">Cancel</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>