@model Triad.CabinetOffice.Slipping.Data.EntityFramework.Slipping.AbsenceRequest

@{
    ViewBag.Title = "When will you be going?";
}

<div class="grid-row">
    <div class="column-two-thirds column-minimum">
        <a class="link-back" href="/">Back</a>
        <h1 class="heading-large">
            When will you be going?
        </h1>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="form-label" for="date-from">Date</label>
                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label class="form-label" for="select-box">Time</label>
                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                <input class="button" type="submit" value="Continue">
            </div>

        }
    </div>
</div>
  