
@{
    ViewBag.Title = "What is the reason for your request?";
}

<div class="grid-row">
    <div class="column-two-thirds column-minimum">
        @Html.ActionLink("Back", "Index", null, new { @class = "link-back" })
        <h1 class="heading-large">
            What is the reason for your request?
        </h1>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            

            <div class="form-group">
                <input class="button" type="submit" value="Continue">
            </div>
        }
    </div>
</div>

