
@{
    ViewBag.Title = "Review slipping request";
}

<div class="grid-row">
    <div class="column-two-thirds column-minimum">
                    
        <!--TODO: Review content-->

        <h2 class="heading-medium">Want to cancel your slipping request?</h2>
        <div class="form-group">
            <button class="button" type="submit">Cancel my slipping request</button>
        </div>
        <a href="Index">Take me back to my slipping requests</a>
    </div>
</div>