@model Triad.CabinetOffice.Slipping.Data.EntityFramework.Slipping.AbsenceRequest

@{
    ViewBag.Title = "When are you coming back?";
}

<div class="grid-row">
    <div class="column-two-thirds column-minimum">
        <a class="link-back" href="FromDateAndTime">Back</a>
        <h1 class="heading-large">
            When are you coming back? 
        </h1>
        @using (Html.BeginForm())
        {
            <!-- at Html.AntiForgeryToken()-->
            <div class="form-group">
                <label class="form-label" for="date-to">Date</label>
                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label class="form-label" for="select-box">Time</label>
                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                <input class="button" type="submit" value="Continue">
            </div>

        }
    </div>
</div>
  