<h3>Users</h3>
<ul>
  <li *ngFor="let user of usersList">{{user.displayName}}</li>
</ul>
<div>
    <h3>Create User</h3>
    <p>Display name: <input id="display-name" #displayName /></p>
    <p>User name: <input id="user-name" #userName /></p>
    <p id="create-result"></p>
    <button (click)="createUser(displayName.value, userName.value);">Create user</button>
</div>
<div>
    <h3>Invite User</h3>
    <p>Email address: <input id="invite-user-name" #invitee /></p>
    <p id="invite-result"></p>
    <button (click)="inviteUser(invitee.value);">Invite user</button>
</div>