@using Triad.CabinetOffice.SlippingPublic.Web.Exceptions
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="grid-row">
    <div class="column-two-thirds column-minimum">
        <h1 class="heading-xlarge">
            Error
        </h1>
        <p>We apologise that an error has occurred.</p>
        <p>
            Please report the date and time of this incident (@string.Format("{0:dd/MM/yyyy} {0:HH:mm:ss}", DateTime.Now)) with details of what you were doing when the error occurred to the Whips Admin Team.
        </p>
        <p>
            @Html.ActionLink("Continue", "Index", "Slips", null, new { @class = "button", @role = "button" })
        </p>
    </div>
</div>

