<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ida:ClientId" value="5598f1b3-a87a-4a03-87d7-7ff72be7e1b3" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
    <add key="ida:Domain" value="ZephyrGroup.onmicrosoft.com" />
    <add key="ida:TenantId" value="c1697a1f-ba1a-4c67-88c5-c6c39d34f311" />
    <add key="ida:PostLogoutRedirectUri" value="https://localhost:1183/" />
    <add key="InitialSlippingRequestListLength" value="5" />
    <add key="DefaultAbsenceRequestStatusID" value="1" />
    <add key="GovUkNotifyApiKey" value="slippingdev-19c65c29-9cb4-49cd-8be3-38fed8f884be-c0e20c1f-3fab-4991-bfe5-da90288a2338" />
    <add key="NotifyTemplateId_SlippingRequestReceivedUser" value="855bd942-6bf4-4d8c-ac55-db80df539751" />
    <add key="NotifyTemplateId_SlippingRequestReceivedAdmin" value="b78dfef1-10fc-48f9-afa3-947cac2499d5" />
    <add key="NotifyTemplateId_SlippingRequestCancelledUser" value="44a9f435-7651-4f1c-a441-e006988534c9" />
    <add key="NotifyTemplateId_SlippingRequestCancelledAdmin" value="85200a0b-19c8-4684-b004-b05ea89fcf32" />
    <add key="SlippingRequestReviewersEmailAddress" value="andrew.lott@triad.co.uk" />
    <add key="StartPageURL" value="https://slipping-prod-start-page.azurewebsites.net/" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="en-GB" uiCulture="en-GB" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="SlippingEntities" connectionString="metadata=res://*/EntityFramework.Slipping.Slipping.csdl|res://*/EntityFramework.Slipping.Slipping.ssdl|res://*/EntityFramework.Slipping.Slipping.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=slipping-sql-dev.database.windows.net;initial catalog=slipping-dev;user id=slipping-app;password=s2XrQruY9EvS83P5lRgw;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;App=Slipping&quot;" providerName="System.Data.EntityClient" />
    <add name="PAWSEntities" connectionString="metadata=res://*/EntityFramework.PAWS.PAWS.csdl|res://*/EntityFramework.PAWS.PAWS.ssdl|res://*/EntityFramework.PAWS.PAWS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=efjfsbpzvk.database.windows.net;initial catalog=db_eeef157d_ad45_41d5_9fb4_5d1859412340;user id=db_eeef157d_ad45_41d5_9fb4_5d1859412340_ExternalWriter;password=uaQN6ws93i3^mTH;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;App=Slipping&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>