<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="ida:ClientId" value="c4e8249b-cb69-41bd-aeae-433cf5ef87a7" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <connectionStrings>
    <add name="SlippingEntities" connectionString="metadata=res://*/EntityFramework.Slipping.Slipping.csdl|res://*/EntityFramework.Slipping.Slipping.ssdl|res://*/EntityFramework.Slipping.Slipping.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=slipping-sql-dev.database.windows.net;initial catalog=slipping-dev;user id=slipping-app;password=s2XrQruY9EvS83P5lRgw;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;App=Slipping&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="PAWSEntities" connectionString="metadata=res://*/EntityFramework.PAWS.PAWS.csdl|res://*/EntityFramework.PAWS.PAWS.ssdl|res://*/EntityFramework.PAWS.PAWS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=efjfsbpzvk.database.windows.net;initial catalog=db_cf6472bd_2236_4326_8c56_c8741a66a192;user id=db_cf6472bd_2236_4326_8c56_c8741a66a192_ExternalWriter;password=6+LOKhi7KrRYNU8;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;App=Slipping&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="Redirect to https">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="Off"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
