.pawsList {

  .noLinkDecoration {
    text-decoration: none;
    color: black;
  }
  .pawsListItemContainer {
    height: 50vh;
    overflow: auto;
  }

  .msListBasicExampleItemCell {
    outline: transparent;
    position: relative;

    min-height: 54px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #eaeaea;
    display: flex;
  }

  .msListBasicExampleItemCell:hover {
    background: #EEE;
  }

  .msListBasicExampleItemContent {
    margin-left:10px;
    overflow: hidden;
    flex-grow: 1;
  }

  .msListBasicExampleItemName {
    font-size:21px;
    font-weight:100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .msListBasicExampleChevron {
    align-self: center;
    margin-left: 10px;
    color: #a6a6a6;
    font-size: 17px;
    flex-shrink: 0;
  }
}
