.sessionForm {
  
    .msLabel {
      font-family: "Segoe UI Semibold WestEuropean","Segoe UI Semibold","Segoe UI",Tahoma,Arial,sans-serif;
      font-weight: 1000;
    }
    
    .buttonPrimary {
      background-color: rgb(0,120,215);
      color: rgb(255,255,255);
    }
  
    .buttonPrimary:hover {
      background-color: rgb(0, 90, 158);
    }
  
  }