{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <h1 class="heading-xlarge">
        Slipping Application
      </h1>

      <p>Welcome to the new Slipping Application. This allows users to submit slip requests, view the status of their previous slip requests and edit current slip requests. <p>
 
<h2 class="heading-medium">Before you start, you will need:</h2>

      <ul class="list list-bullet">
         <li>Date and time of your slipping request</li>
        <li>Location</li>
        <li>How many hours away you will be from Westminister</li>
        <li>Reason for your slipping request</li>
        <li>List of any opposition MP's also attending</li>
      </uL>

      <p>This service takes less than 2 minutes to complete</p>

      <p>
        <a class="button" href="page-log-in" role="button">Log in</a>
      </p>

      <h2 class="heading-medium">Get in touch with us</h2>

      If you have any queries or concerns please get in touch with the Government Whips Admin Unit via email or telephone.

      <br></br>

      Want to nominate a user to fill in your slipping requests? We need their name and email address. You can send us these details by email or by telephone. 

      <br>
      </br>

      <p> <strong class="bold-small"> Email: </strong> GWAU@parliament.uk</p>

       <p> <strong class="bold-small"> Telephone: </strong> 0208 123 4567 </p>

    </div>
  
  </div>


</main>

{% endblock %}
