{% extends "layout.html" %}

{% block page_title %}
  Task list
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <h1 class="heading-large">
        Sam Smith MP slips
      </h1>

      <ol class="task-list">
        <li>
          <h2 class="task-list-section">
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="eligibility-completed">
                Slip - 15/09/2017 - 13:00
              </a>
              <strong class="task-completed" id="eligibility-completed">Approved</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="read-declaration-completed">
                Slip - 19/09/2017 - 15:00
              </a>
              <strong class="task-completed" id="read-declaration-completed">Rejected</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="page-slipping-request-cancel" aria-describedby="eligibility-completed">
                Slip - 26/09/2017 - 10:00
              </a>
              <strong class="task-completed" id="eligibility-completed">Approved</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="read-declaration-completed">
                Slip - 26/09/2017 - 15:00
              </a>
              <strong class="task-completed" id="read-declaration-completed">Approved</strong>
            </li>

            <a href="" style="float:right;clear:both; margin-top:10px;" >View all</a>

          </ul>
        </ol>

        <p>
        <a class="button" href="page-date-time-1" role="button">Create a new slip</a>
      </p>

      <h2 class="heading-medium">Want to nominate a user to fill in your slips?</h2>

      We need their name and email address. You can send us these details by email or by telephone. 

      <br>
      </br>

      <p> <strong class="bold-small"> Email: </strong> GWAU@parliament.uk</p>

       <p> <strong class="bold-small"> Telephone: </strong> 0208 123 4567 </p>

    </div>
  </div>
</main>

{% endblock %}
