{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">
    <div class="column-two-thirds column-minimum">
      <a class="link-back" href="page-date-time-1">Back</a>

      <h1 class="heading-large">
        When do you want your slip to finish?
      </h1>

      <form class="form" action="page-location-travel-time">

<div class="form-group">
  <label class="form-label" for="date-to">Date</label>
  <span class="form-hint">
    for example: 12/04/2017
  </span>
  <input class="form-control" id="date-to" name="date-to" type="date" value="{{ data['date-to'] }}">
</div>

<label class="form-label" style="margin-bottom:10px;">What time will you be going?</label>

<div class="form-group">
  <label class="form-label" for="select-box">Hour</label>
  <select class="form-control" id="time-from" name="time-from" value="{{ data['time-from'] }}">
    <option>00</option>
    <option>01</option>
    <option>02</option>
    <option>03</option>
    <option>04</option>
    <option>05</option>
    <option>06</option>
    <option>07</option>
    <option>08</option>
    <option>09</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
    <option>13</option>
    <option>14</option>
    <option>15</option>
    <option>16</option>
    <option>17</option>
    <option>18</option>
    <option>19</option>
    <option>20</option>
    <option>21</option>
    <option>22</option>
    <option>23</option>
  </select>

  <br>
  </br>

<label class="form-label" for="select-box">Minutes</label>
  <select class="form-control" id="time-from" name="time-from" value="{{ data['time-from'] }}">
    <option>00</option>
    <option>15</option>
    <option>30</option>
    <option>45</option>
</select>

</div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
