{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">
    <div class="column-two-thirds column-minimum">

    <a class="link-back" href="page-damian-green">Back</a>

      <h1 class="heading-large">
       Slip 26/09/2017 - 10:00
      </h1>
      <!-- only add a heading for a list if there is more than one list -->
      <br>
      </br>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `cya-questions-short` for short questions -->
      <!--   * `cya-questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            From
          </dt>
          <dd class="cya-answer">
            26/09/2017 <br>10:00</br>
          </dd>
          <dd class="cya-change">
          </dd>
        </div>

        <div>
          <dt class="cya-question">
           To
          </dt>
          <dd class="cya-answer">
           26/09/2017 <br>12:00</br>
          </dd>
          <dd class="cya-change">
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Location
          </dt>
          <dd class="cya-answer">
            London
          </dd>
          <dd class="cya-change">
          </dd>
        </div>

         <div>
          <dt class="cya-question">
            Travel time to Westminster
          </dt>
          <dd class="cya-answer">
            1 Hour
          </dd>
          <dd class="cya-change">
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Reason
          </dt>
          <dd class="cya-answer">
            Personal 
          </dd>
          <dd class="cya-change">
          </dd>
          </div>

          <div>
          <dt class="cya-question">
            Details
          </dt>
          <dd class="cya-answer">
            Dentist appointment
          </dd>
          <dd class="cya-change">
          </dd>
          </div>

          <div>
          <dt class="cya-question">
            Any opposition MPs in attendance?
          </dt>
          <dd class="cya-answer">
            No
          </dd>
          <dd class="cya-change">
          </dd>
          </div>


          <div>
          <dt class="cya-question">
            Status
          </dt>
          <dd class="cya-answer">
            Approved
          </dd>
          <dd class="cya-change">
          </dd>
      </dl>


      <h2 class="heading-medium">Want to cancel your slip?</h2>

      <div class="form-group">
        <a href="page-cancel-confirmation" class="button">Cancel my slip</a>
      </div>

      <a href="page-damian-green">Take me back to my slips</a>


    </div>
  </div>
</main>

{% endblock %}
