{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Slipping request cancelled </h1>
        <p>
          Date and time<br>
          <strong class="heading-medium">26/09/2017 at 10:00</strong>
        </p>
      </div>

      <p>We have sent you a confirmation email.</p>

      <h2 class="heading-medium">What do you want to do next?</h2>

      <p>
        <a class="button" href="page-date-time-1" role="button">New slipping request</a>
      </p>
      
      <a href="page-damian-green-2">Take me back to my slipping requests</a>

      <h2 class="heading-medium">Want to nominate a user to fill in your slipping requests?</h2>

      We need their name and email address. You can send us these details by email or by telephone. 

      <br>
      </br>

      <p> <strong class="bold-small"> Email: </strong> pairsandwhipping@parliament.gov.uk </p>

       <p> <strong class="bold-small"> Telephone: </strong> 0208 123 4567 </p>

    </div>
  </div>

</main>

{% endblock %}
