{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

    <h1 class="heading-large">
        Damian Green MP slipping requests 
      </h1>

      <ol class="task-list">
        <li>
          <h2 class="task-list-section">
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="eligibility-completed">
                Slipping request 15/08/2017
              </a>
              <strong class="task-completed" id="eligibility-completed">Deferred</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="read-declaration-completed">
                Slipping request 10/10/2017
              </a>
              <strong class="task-completed" id="read-declaration-completed">Rejected</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="page-slipping-request-cancel" aria-describedby="eligibility-completed">
                Slipping request 10/08/2017
              </a>
              <strong class="task-completed" id="eligibility-completed">Approved</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="read-declaration-completed">
                Slipping request 01/06/2017
              </a>
              <strong class="task-completed" id="read-declaration-completed">Approved</strong>
            </li>
          </ul>
        </ol>

        <p>
        <a class="button" href="page-date-time-1" role="button">New slipping request</a>
      </p>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
