@model Triad.CabinetOffice.Slipping.Web.ViewModels.DeletedSlippingRequest

@{
    ViewBag.Title = "Slipping request deleted";
}

<div class="grid-row">
    <div class="column-two-thirds column-minimum">
        <div class="govuk-box-highlight">
            <h1 class="bold-large">Slipping request deleted</h1>
            <p>
                Date and time<br>
                <strong class="heading-medium">@Model.Date.ToString("dd/MM/yyyy HH:mm")</strong>
            </p>
        </div>
        <p>We have sent you a confirmation email.</p>
        <h2 class="heading-medium">What do you want to do next?</h2>
        <p>
            <a class="button" role="button" href="/Slipping/Create">New slipping request</a>
        </p>
        <p><a href="/Slipping">Take me back to my slipping requests</a></p>
        <h2 class="heading-medium">Want to nominate a user to fill in your slipping requests?</h2>
        <p>We need their name and email address. You can send us these details by email or by telephone.</p>
        <p><strong class="bold-small">Email: </strong>pairsandwhipping@parliament.gov.uk</p>
        <p><strong class="bold-small">Telephone: </strong>0208 123 4567</p>
    </div>
</div>

